body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
}

button {
    background-color: #3882F6;
    padding: 8px;
    color: white;
    border-radius: 8px;
    border: none;
    width: 130px;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
}

.nomarginpad {
    margin: 0;
    padding: 0;
}

.flexRow {
    display: flex;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

.header{
    justify-content: space-evenly;
    background-color: #1F2937;
}

.top-content {
    justify-content: center;
    background-color: #1F2937;
    gap: 75px;
}

.awesome {
    width: 500px;
    justify-content: center;
}

.mainTitle {
    font-size: 48px;
    color: #F9faf8;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.smallerTitle {
    font-size: 18px;
    color:#e5e7eb;
    margin: 0;
    padding: 0;
}

.random{
    padding: 25px 0 75px 0;
}

.randomInfo {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.randomPics {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.childImage {
    width: 200px;
}

.childImage img {
    border-radius: 12px;
}

.childImage p {
    text-align: center;
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quoteSection{
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    max-width: 850px;
}

.speaker {
    margin-left: 500px;
    margin-top: -15px;
    color: #1F2937
}

.callSection {
    flex: 1 1 auto;
    justify-content: center;
}

.blueBox{
    display: flex;
    background-color: #3882F6;
    color: #f9faf8;
    margin: 100px;
    padding: 25px;
    border-radius: 12px;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

.signUp {
    border: solid #f9faf8;
}
